[submodule "rubocop"]
	path = rubocop
	url = git@github.com:boxt/rubocop-orb.git
[submodule "bundler"]
	path = bundler
	url = git@github.com:boxt/bundler-orb.git
[submodule "git"]
	path = git
	url = git@github.com:boxt/git-orb.git
[submodule "npm"]
	path = npm
	url = git@github.com:boxt/npm-orb.git
[submodule "rails-assets"]
	path = rails-assets
	url = git@github.com:boxt/rails-assets-orb.git
[submodule "yarn"]
	path = yarn
	url = git@github.com:boxt/yarn-orb.git
